section {
    border: 1px solid red;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 10px;
    background-color: aliceblue;
}
h1 {
    background-color: beige;
    font-size: large;
}

p {
    border: 1px solid green;
    margin-left: 25px;
    margin-top: 35px;
    padding-top: 10px;
    width: 60px;
    height: 100px;
    background-color: aliceblue;
    padding-left: 15px;
}

.images a:nth-child(2) img {
    width: 50px;
    height: 550px;
}
.images a:nth-child(4) img {
    width: 300px;
    height: 200px;
}
.images a:nth-child(8) img {
    width: 300px;
}